ul.nav {
  list-style-type: none;
  widith: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #25CED1;
  margin: 0;
}

li.nav{
  display: inline;
  padding: 10px;
  margin: 50px;
}


a{
  text-decoration: none;
  color: red;
  font-size: 120%;
}
